@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  color: #fff;
}

.top-left-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1000;
}

.main-container {
  display: flex;
  height: 100vh;
}

.main-side {
  width: 25%;
  background-color: #f0f0f0;
  padding: 20px;
  background-image: url('../src/brown_background.png'); 
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.logo img {
  padding-top: 25px;  
  max-width: 100%;
  height: 150px;
}

.menu {
  margin-top: 60px;
}

.menu a {
  display: block;
  font-size: 24px;
  color: white; 
  text-decoration: none;
  margin-bottom: 40px; 
}

.menu a i {
  margin-right: 10px;
}

.image-side {
  width: 75%;
  height: 100vh;
  float: left;
  overflow: hidden; 
}

.image-side img {
  width: 100%; 
  height: 100%; 
  display: block; 
  object-fit: cover;
}
